{% extends 'base.html'%} {% block title %} RegisterPage {% endblock %} {% block
body_class %}about-bg{% endblock %} {% block content %}
<div class="align-items-center" style="height: 70vh">
  <form class="container" style="max-width: 400px" method="POST">
    <div class="text-center">
      <img
        src="https://www.kindpng.com/picc/m/237-2370145_transparent-register-png-registration-image-png-png-download.png"
        alt="Login Image"
        style="height: 200px; width: 200px"
      />
    </div>
    <h1 class="text-center">Please Create Your account!</h1>
    <br />
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form2Example1">User Name</label>
      <input
        type="text"
        id="form2Example1"
        class="form-control"
        name="name"
        placeholder="Username"
      />
    </div>
    <!-- Email Address -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Email Address</label>
      <input
        type="email"
        id="form2Example2"
        class="form-control"
        name="email"
        placeholder="Your Email"
      />
    </div>
    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Your Password</label>
      <input
        type="password"
        id="form2Example2"
        class="form-control"
        name="password1"
        placeholder="Password"
      />
    </div>
    <!-- Confirm Password -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Confirm Password</label>
      <input
        type="password"
        id="form2Example2"
        class="form-control"
        name="confirm_password"
        placeholder="Confirm Password"
      />
    </div>

   
    <div class="text-center">
      <p>Already have an account? <a href="{{url_for('login_page')}}">Login</a></p>
    </div>
    <!-- Submit button -->
    <button
      type="submit"
      data-mdb-button-init
      data-mdb-ripple-init
      class="btn btn-primary btn-block mb-4 w-100"
    >
      Sign in
    </button>
  </form>
</div>
{% endblock %}
